<!-- Copyright 2017 caicloud authors. All rights reserved. -->

<!DOCTYPE html>
<html lang="zh">
<head>
  <title>node-project</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link rel="shortcut icon" href="<%= G.staticPath %>/img/favicon.ico" type="image/x-icon" />
  <link href="<%= G.staticPath %>/css/index.css" rel="stylesheet" />
</head>
<body>
  node-project
  <script src="<%= G.staticPath %>/common.js" ></script>
  <script src="<%= G.staticPath %>/index.js" ></script>
</body>
</html>
